#if($ctx.error)
  $utils.error($ctx.error.message, $ctx.error.type)
#end

#if($utils.rds.toJsonObject($ctx.result)[1].isEmpty())
  $util.error("Not found")
#else
  $utils.toJson($utils.rds.toJsonObject($ctx.result)[1][0])
#end
